/*start cancel order  css   */

.ffhfdf {
  width: 100%;
  background-color: #fff;
}

.fbghdfg{
  width: 87%;
  margin-inline: auto;
}

.dfbdf h4{
  color: #fff !important;
  font-weight: 400 !important;
}

.fgcbdfgdf {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;  
  overflow-y: scroll;
}

.dfbdf h4,
.fbhdfs h4,
.dfjhdsbfsdf h4 {
  text-transform: uppercase;
  color: var(--text-main-color);
}

.dfjhdsbfsdf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dfjhdsbfsdf p{
  font-weight: 500;
}

.dfjhdsbfsdf p i:global(.fa-house) {
  color: var(--pink-main-color);
}

.sdfjhsdfs img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border: 2px solid var(--pink-main-color);
}

.dfghdfgdf {
  display: flex;
  align-items: center;  
}

.dfghdfgdf {
  margin-top: 15px;
}

.dfbghdfg {
  margin-left: 15px;
  margin-top: 5px;
}

.fbhdfs h5{
  color: var(--text-main-color);
}

.fbhdfs button{
  display: inline-block !important;
  padding: 0 !important;
  font-weight: 600;
}

.fbhdfs button i{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--pink-main-color);
  color: #fff;
  text-align: center;
  line-height: 1.8;
  border: 2px dotted #fff;
  transition: 0.2s ease-in-out;
}

.fbhdfs button:hover i{
  transform: scale(1.1) rotate(360deg);
  transition: 0.2s ease-in-out;
}

.dweknriwehrwer .cncl_ordr{
  color: #dc3545 !important;
}

.dweknriwehrwer .cncl_ordr:hover{
  text-decoration: underline;
}

.dfbghdfg p {
  font-size: 14px;
  font-weight: 600;
}

form input:global(.form-control){
  border: 1px solid var(--text-gray-color);
  border-radius: 3px;
}

.dhfsdfd .form-control {
  padding: 8px !important;
  background-color: #fff !important;
}

.dhfsdfd .form-control::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
}

.dhfsdfd .form-control::placeholder {
  font-weight: 500;
  font-size: 14px;
}

.dhfsdfd label {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 7px;
}

.acdfvdscvdrtefr {
  color: var(--pink-main-color);
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 3px;
  background: rgba(133, 13, 85, 0.15);
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.dfgndfjhbgdfgdf table th {
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
}

.dfgndfjhbgdfgdf .sdfsdf {
  display: flex;
  align-items: center;
}

.dienwrhwerwer{
  text-align: right;
}

.oknknkmer{
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.oknknkmer:hover{
  text-decoration: underline;
}

.vew_dtls{
  color: var(--pink-main-color);  
}

.dnjhsddsfsd button {
  padding: 12px 30px;
  background-color: rgb(132, 4, 4);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: 500;
  margin-top: 20px;
}

.dfndf label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.dfndf .form-control {
  padding: 10px;
}

.dfgndfjhbgdfgdf table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
.dfgndfjhbgdfgdf table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
.dfgndfjhbgdfgdf table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
.dfgndfjhbgdfgdf table th,
.dfgndfjhbgdfgdf table td {
  padding: 0.625em;
  text-align: left;
}
.dfgndfjhbgdfgdf table th {
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
}

.dfgndfjhbgdfgdf .sdfsdf {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.dfgndfjhbgdfgdf .dsfhsd {
  width: 20%;
  text-align: center;
  min-height: 95px;
  line-height: 75px;
  overflow: hidden;
  position: relative;
  max-height: 95px;
  border-radius: 5px;  
}
.dfgndfjhbgdfgdf .dsfhsd img {
  max-width: 100%;
  max-height: 95px;
}

@media only screen and (max-width: 991px){
  :global(.table-responsive){
    min-width: 800px;
  }
}


.customSearchWrapper {
  position: relative;
  width: 321px;
  margin-top: 6px;
  /* margin-left: 20px; */
}

.customSearchInput {
  width: 100%;
  height: 40px;
  padding-left: 50px; /* icon space */
  padding-right: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.customSearchInput::placeholder {
  color: #aaa;
}

.customSearchInput:focus {
  border-color: #e5e5e5;
}

.customSearchIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  pointer-events: none;
}

.filterWrapper {
  position: relative;
  display: inline-block;
}

.filterBtn {
  display: flex;
    align-items: center;
    gap: 9px;
    padding: 7px 19px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
  cursor: pointer;
  margin-top: 4px;
}

.filterBtn i {
  font-size: 16px;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  width: 180px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  max-height: 220px;
  overflow-y: auto;
  z-index: 10;
}

/* Option */
.option {
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.option:hover {
  background: #f7f7f7;
}

.active {
  color: #ff4d2d; /* orange-red like image */
  font-weight: 500;
  background: #fff3ef;
}

.noDataText{
  text-align: center;
}



@media only screen and (max-width: 991px){
  .fbghdfg{
    width: 100%;
  }
}



/*end cancel order  css   */