.dropdown-loggedin {
  border-radius: 5px;
  top: 80%;
  right: 0;
  width: 15rem;
  border: 1px solid var(--light-background-color);
  z-index: 99999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown-loggedin ul li {
  color: var(--text-main-color) !important;
  border-bottom: 1px solid var(--light-background-color);
  display: block !important;
  padding: 0.5rem !important;
}
.dropdown-loggedin ul li:last-child {
  border-bottom: 0;
}

.dropdown-loggedin li i{
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem !important;
  border-radius: 50%;
  background: rgba(133, 13, 85, 1);
  color: #fff;
  text-align: center;
  line-height: 1.7 !important;
  border: 1px dashed #fff;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 25px 4px;
}

.dropdown-loggedin li:hover i{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 991px) {
  .dropdown-loggedin{
    left: 0;
    right: initial;
  }
}