@media only screen and (min-width: 3001px){
    .fgjdfgf3298{
        gap: 72px;
    }

    .fdbdfgdfgdf h6 {
        font-size: 14px !important;
        margin-right: 8px;
        padding: 5px 8px;
    }

    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: 544px;
    }

    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1.5rem !important;
    }

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: 673px;
    }
}





@media only screen and (max-width: 3000px){
    .fgjdfgf3298{
        gap: 26px;
    }

    .dbfggfhfh {
        width: 210px;
        height: 210px;
    }

    .fdbdfgdfgdf h6 {
        font-size: 14px !important;
        margin-right: 8px;
        padding: 5px 8px;
    }

    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: 544px;
    }

    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1.5rem !important;
    }

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: 673px;
    }
}





@media only screen and (max-width: 2550px){
    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1.5rem !important;
    }

    .fdbdfgdfgdf h6 {
        font-size: 13px !important;
        margin-right: 8px;
        padding: 5px 8px;
        font-weight: 500;
    }   

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: 673px;
    }

    .fdbdfgdfgdf h4 {
        font-size: 1.2rem !important;
    }
}





@media only screen and (max-width: 1920px){
    .fgjdfgf3298{
        gap: 61px;
    }

    .fdbdfgdfgdf h6 {
        margin-right: 2px;
    }
}






@media only screen and (max-width: 1869px){
    .fgjdfgf3298{
        gap: 35px;
    }

    .dbfggfhfh {
        width: 200px;
        height: 200px;
    }

    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: 509px;
    }

    .fdbdfgdfgdf h6 {
        font-size: 14px !important;
        padding: 5px 6px;
    }   

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: 655px;
    }
}





@media only screen and (max-width: 1800px){
    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: 475px;
    }

    .fdbdfgdfgdf h6 {
        font-size: 13px !important;
    }  

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: auto;
    }
}





@media only screen and (max-width: 1686px){
    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1.2rem !important;
    }

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: auto;
    }
}





@media only screen and (max-width: 1636px){
    .fgjdfgf3298{
        gap: 30px;
    }

    .dbfggfhfh {
        width: 177px;
        height: 177px;
    }

    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: 418px;
    }

    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1.2rem !important;
    }

    .fdbdfgdfgdf h6{
        font-size: 12px !important;
        margin-right: 8px;
        padding: 5px 5px;
    }
}






@media only screen and (max-width: 1492px){
    .fdbdfgdfgdf h6 {
        margin-right: 2px;
    }
}






@media only screen and (max-width: 1454px){
    .fgjdfgf3298{
        gap: 10px;
    }

    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: 375px;
    }
}






@media only screen and (max-width: 1435px){
    .fdbdfgdfgdf h6{
        font-size: 10px !important;
    }
}






@media only screen and (max-width: 1409px){
    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1.1rem !important;
    }
}






@media only screen and (max-width: 1366px){
    .fgjdfgf3298{
        gap: 12px;
    }

    .fdbdfgdfgdf h6 {
        font-size: 11px !important;
        margin-right: 2px;
    }

    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 1rem !important;
    }

    .sdhgdfg img {
        width: 3rem;
    }

    .gdfgdf215,
    .dfgjhdfgdf img {
        height: 470px;
    }

    .fdbdfgdfgdf h4 {
        font-size: 1rem !important;
    }
}





@media only screen and (max-width: 1338px){
    .fdbdfgdfgdf h6 {
        font-size: 10px !important;
        margin-right: 1px;
    }
}





@media only screen and (max-width: 1280px){
    .nhgf65dfgdf,
    .dfgyhdfgdf {
        height: auto;
    }
}






@media only screen and (max-width: 1234px){
    .dbfggfhfh {
        width: 160px;
        height: 160px;
    }

    .fgjdfgf3298{
        gap: 10px;
    }
}





@media only screen and (max-width: 991px){
    header .header-main .doiewhirw_left img{
        width: 10rem;
    }

    header .header-main .doiewhirw_right{
        float: initial;
    }

    .kjsdnfkniretertert.d-none{
        display: flex !important;
    }

    .kjsdnfkniretertert #res-toggle-btn{
        display: block !important;
        font-size: 2.8rem;
    }

    #header-menu-responsive{
        position: fixed;
        left: -50rem;
        top: 0;
        width: 95%;
        background: #fff;
        bottom: 0;
        padding: 1.4rem;
        transition: 0.2s ease-in-out;
    }

    .header-menu-responsive-show{
        left: 0 !important;
        transition: 0.2s ease-in-out;
    }

    #header-menu-responsive .fdgyhurfsdrerer.d-none{
        display: flex !important;
        margin-bottom: 1.4rem;
    }

    #res-close-btn{
        font-size: 3rem;
    }

    header .header-main .doiewhirw_right ul.header-menu li{
        display: block;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .doiewhirw_left{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sdfsdfsdfsd{
        height: auto;
    }

    header .header-main .doiewhirw_right ul.header-menu li a{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    header .header-main .doiewhirw_right .diewhrkewr_dropdown{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 100%;
        overflow-y: auto;
    }    

    .kjsdnfkniretertert ul li{
        display: inline-block;
        position: relative;
        margin-left: 1rem;
    }

    .kjsdnfkniretertert ul li:first-child{
        margin-left: 0;
    }

    .kjsdnfkniretertert ul li i{
        font-size: 2rem;
    }

    header .header-top .doeiwhrkwdeor ul li a {
        padding: 0.8rem;
    }
    
    .kjsdnfkniretertert ul li span{
        background: var(--black-background-color);
        border-radius: 50%;
        text-align: center;
        line-height: 1.5;
        color: #fff;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        right: -0.38rem;
        top: 0.5rem;
    }

    .dfkhgdfgdf h2{
        font-size: 1.2rem !important;
    }

    .ghbgfgdf .col-3{
        width: 80%;
    }

    .fbgvdsdfd6568::-webkit-scrollbar{
        display: none;
    }

    .fbsdsdf{
        text-align: center;
    }

    .dfgh img{
        padding-left: 0;
    }
    
    .fhdfgdf,
    .nhgf65dfgdf,
    .dfdfdffd,
    .dfgyhdfgdf{
        height: auto !important;
    }

    .xfdjgdfgdfg,
    .sdfsdfsdfsd {
        background-size: cover !important;
        background-position: center !important;
    }

    .dfgyhdfgdf {
        background-repeat: no-repeat;
        background-size: cover !important;
    }

    .gfjhfgjfg {
        font-size: 2rem;
    }

    .footer-bottom.d-flex{
        flex-direction: column;
        align-items: center;
    }

    .jamdlkjwekrer{
        text-align: center;
    }


    /* started css changes by arian  */
    /* started css changes by arian  */
    
    .fdbdfgdfgdf h6
    {
       margin-right: 2px;
    }

    .dopwejoirjhwer button  
    {
        margin-bottom: 10px;
    }

    .dfghdfg548
    {
      border-radius: 6px !important;
    }


    /* end css changes by arian  */

    .dfgdfvsdfsdfsdf .swiper-slide,
    .gdfgdf215 img,
    .dfgdfvsdfsdfsdf .swiper{
        border-radius: 0;
    }

    .dfgdfvsdfsdfsdf{
        margin-top: 0;
    }
    
    .dfndfjhdfgdf{
        margin-top: 1.5rem;
    }

    .ghbgfgdf .col-lg-3:nth-of-type(4n - 2) .dfnghfd{
        border-right: 0 !important;
    }

    .sdhgdfg{
        text-align: center;
    }

    .fbsdsdf h4{
        margin-top: 0;
    }

    .xfdjgdfgdfg {
        height: 35vw;
    }

    .lknaknjdoijweewpr.py-4{
        padding-top: 0 !important;
    }

    .lknaknjdoijweewpr.mb-5{
        margin-bottom: 0 !important;
    }

    .yudfdfgdfbgdfgdffgfg{
        padding-top: 0;
        padding-bottom: 0;
    }

    footer .footer-bottom ul li span{
        font-size: 0.9rem;
    }

    .fb-payment-options.d-flex{
        justify-content: center !important;
        margin-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .fgjdfgf3298 {
        gap: 40px;
    }

    .dfwedrtweqweqee .col-lg-3{
        margin-bottom: 1rem;
    }
    
    .dfwedrtweqweqee .col-lg-3:nth-of-type(2n){
        border-right: 0;
    }

    .dfghdfg548 img {
        border-radius: 0;
        height: auto;
        object-fit: initial;
    }

    .dfwedrtweqweqee .col-lg-3:nth-of-type(4n - 1),
    .dfwedrtweqweqee .col-lg-3:nth-of-type(4n){
        margin-bottom: 0;
    }

    .dkhweinjkwehijkr.justify-content-between{
        justify-content: center !important;
    }

    .sdvfsdsefredraede .col-lg-4:nth-of-type(2n){
        border-right: 0;
    }

    .sdvfsdsefredraede .col-lg-4:last-child{
        margin-top: 2rem;
    }

    .fsesadadwwe .dfnghfd,
    .fsesadadwwe  .dfnghfd5 {
        padding-inline: 0 !important;
        padding-left: 1rem !important;
    }

    .sdhgdfg img {
        width: 2rem;
    }

    .sefweqwrwrewrer.sdfseeerrrr h4 {
        font-size: 0.8rem !important;
    }

    .dfnghfd .justify-content-center,
    .dfnghfd5 .justify-content-center{
        justify-content: initial !important;
    }

    .duiwehihiwejiurwer.py-3{
        padding-bottom: 6rem !important;
    }
}



@media only screen and (max-width: 767px){
    footer .footer-bottom ul li{
        display: flex;
        align-items: center;
    }

    footer .footer-bottom ul li span {
        font-size: 0.7rem;
    }
}



@media only screen and (max-width: 600px){
    .fgjdfgf3298{
        grid-template-columns: auto auto !important;
    }

    .dfgh{
        margin: auto;
    }

    .fbsdsdf h4 a {
        font-size: 0.8rem;
    }

    .dfngjhdfgd5151fg{
        display: none;
    }
}




@media only screen and (max-width: 519px){
    footer .footer-bottom ul li span {
        font-size: 0.6rem;
    }
}






@media only screen and (max-width: 495px){
    .fsesadadwwe .dfnghfd {
        padding-inline: 3rem;
    }
}






@media only screen and (max-width: 474px){
    footer .footer-bottom ul li span {
        font-size: 0.5rem;
    }

    .doejwojrowejower{
        font-size: 0.8rem;
    }
}






@media only screen and (max-width: 428px){
    footer .footer-bottom ul li span {
        font-size: 0.49rem;
    }
}





@media only screen and (max-width: 424px){
    footer .footer-bottom ul li {
        margin-right: 0.3rem;
    }

    footer .footer-bottom ul li i {
        font-size: 0.6rem;
    }

    footer .footer-bottom ul li span {
        font-size: 0.55rem;
    }
}





@media only screen and (max-width: 383px){
    .sdhgdfg img {
        width: 7vw !important;
    }
}





@media only screen and (max-width: 363px){
    footer .footer-bottom ul li span {
        font-size: 0.5rem;
    }
}





@media only screen and (max-width: 340px){
    footer .footer-bottom ul li span {
        font-size: 0.49rem;
    }
}





@media only screen and (max-width: 335px){
    footer .footer-bottom ul li span {
        font-size: 0.45rem;
    }
}






@media only screen and (max-width: 317px){
    footer .footer-bottom ul li span {
        font-size: 0.4rem;
    }
}




@media only screen and (max-width: 294px){
    footer .footer-bottom ul li span {
        font-size: 0.35rem;
    }
}