@media only screen and (min-width: 3001px){
    .small-image-tabs .nav-item {
        min-height: 137px;
        max-height: 137px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 137px;
    }

    .zoom-gallery-modal .small-image-tabs .nav-item{
        min-height: 135px;
        max-height: 135px;
        margin: 1rem 1.6rem;
    }

    .zoom-gallery-modal .nav.flex-column {
        overflow-y: auto;
        max-height: 79vh;
        overflow-x: hidden;
        display: inherit;
    }

    .zoom-gallery-modal .small-image-tabs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .zoom-gallery-modal .nav.flex-column {
        max-height: 79vh;
        margin-top: 0;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 696px;
    }

    .doijijewjuewr {
        max-height: 696px;
    }

    .small-image-down-arrow {
        bottom: -6%;
    }

    .deiwhirhwejpekr.sticky-top{
        top: 20%;
    }
}





@media only screen and (max-width: 3000px){
    .small-image-tabs .nav-item {
        min-height: 137px;
        max-height: 137px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 137px;
    }

    .zoom-gallery-modal .small-image-tabs .nav-item{
        min-height: 135px;
        max-height: 135px;
        margin: 1rem 1.6rem;
    }

    .zoom-gallery-modal .nav.flex-column {
        max-height: 79vh;
        margin-top: 0;
    }

    .zoom-gallery-modal .small-image-tabs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .zoom-gallery-modal .nav.flex-column {
        max-height: 79vh;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 696px;
    }

    .doijijewjuewr {
        max-height: 696px;
    }

    .small-image-down-arrow {
        bottom: -6%;
    }

    .deiwhirhwejpekr.sticky-top{
        top: 20%;
    }
}





@media only screen and (max-width: 2550px){
    .small-image-tabs .nav-item {
        min-height: 137px;
        max-height: 137px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 137px;
    }

    .zoom-gallery-modal .small-image-tabs .nav-item{
        min-height: 135px;
        max-height: 135px;
        margin: 1rem 1.6rem;
    }

    .zoom-gallery-modal .nav.flex-column {
        max-height: 79vh;
        margin-top: 0;
    }

    .zoom-gallery-modal .small-image-tabs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 696px;
    }

    .doijijewjuewr {
        max-height: 696px;
    }

    .small-image-down-arrow {
        bottom: -6%;
    }

    .deiwhirhwejpekr.sticky-top{
        top: 20%;
    }
}





@media only screen and (max-width: 1920px){
    .small-image-tabs .nav-item {
        min-height: 137px;
        max-height: 137px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 137px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 696px;
    }

    .doijijewjuewr {
        max-height: 696px;
    }

    .small-image-down-arrow {
        bottom: -4%;
    }

    .dfhdfhd {
        padding-right: 1rem;
    }
}





@media only screen and (max-width: 1800px){
    .small-image-tabs .nav-item {
        min-height: 128px;
        max-height: 128px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 128px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 656px;
    }

    .doijijewjuewr {
        max-height: 656px;
    }

    .dfhdfhd {
        padding-right: 1rem;
    }
}





@media only screen and (max-width: 1687px){
    .deiwhirhwejpekr.sticky-top {
        top: 22%;
    }
}





@media only screen and (max-width: 1652px){
    .deiwhirhwejpekr.sticky-top {
        top: 22%;
    }

    .small-image-tabs .nav-item {
        min-height: 118px;
        max-height: 118px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 595px;
    }

    .doijijewjuewr {
        max-height: 595px;
    }
}





@media only screen and (max-width: 1536px){
    .small-image-tabs .nav-item {
        min-height: 109px;
        max-height: 109px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 555px;
    }

    .doijijewjuewr {
        max-height: 555px;
    }
}






@media only screen and (max-width: 1447px){
    .small-image-tabs .nav-item {
        min-height: 105px;
        max-height: 105px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 525px;
    }

    .doijijewjuewr {
        max-height: 525px;
    }
}






@media only screen and (max-width: 1366px){
    .deiwhirhwejpekr.sticky-top{
        top: 24%;
    }

    .small-image-tabs .nav-item {
        min-height: 100px;
        max-height: 100px;
    }

    .small-image-tabs .nav-item img {
        max-height: 100px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 495px;
    }

    .doijijewjuewr {
        max-height: 495px;
    }

    .small-image-arrow {
        right: 48%;
    }

    .small-image-up-arrow {
        top: -5%;
    }

    .small-image-down-arrow {
        bottom: -6%;
    }
}





@media only screen and (max-width: 1300px){
    .small-image-tabs .nav-item {
        min-height: 100px;
        max-height: 100px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 100px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 495px;
    }

    .doijijewjuewr {
        max-height: 495px;
    }
}





@media only screen and (max-width: 1230px){
    .small-image-tabs .nav-item {
        min-height: 92px;
        max-height: 92px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 92px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 465px;
    }

    .doijijewjuewr {
        max-height: 465px;
    }
}





@media only screen and (max-width: 1170px){
    .small-image-up-arrow {
        top: -7%;
    }

    .small-image-tabs .nav-item {
        min-height: 85px;
        max-height: 85px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 80px;
    }    

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 440px;
    }

    .doijijewjuewr {
        max-height: 440px;
    }
}




@media only screen and (max-width: 1080px){
    .small-image-tabs .nav-item {
        min-height: 80px;
        max-height: 80px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 400px;
    }

    .doijijewjuewr {
        max-height: 400px;
    }
}




@media only screen and (max-width: 1024px){
    .small-image-tabs .nav-item {
        min-height: 75px;
        max-height: 75px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 75px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 375px;
    }

    .doijijewjuewr {
        max-height: 375px;
    }
}





@media only screen and (max-width: 991px){
    .customize-modal,
    .men-chart-size .modal-dialog{
        width: 90% !important;
    }
    
    .men-chart-size .modal-dialog{
        margin-inline: auto;
    }

    .dowehrinwejikhriwer span.djknakknewrr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .dowehrinwejikhriwer span.djknakknewrr:before{
        transform: translate(-50%, -50%) rotate(90deg);
        height: 10rem;
    }

    .size-guide-modal {
        width: 95%;
    }

    .sdgdffwesfdf .flex-column{
        flex-direction: row !important;
        flex-wrap: nowrap;
        flex: 0 0 auto;
    }

    .share-social-modal {
        width: 40%;
    }

    .s-s-m-options.justify-content-center{
        justify-content: space-evenly !important;
    }

    .sdgdffwesfdf .small-image-tabs{
        margin-top: 1rem;
        display: flex;
        overflow-x: auto;
    }

    .sdgdffwesfdf .small-image-tabs::-webkit-scrollbar{
        height: 0;
    }

    .small-image-tabs .nav-item{
        margin: 0 auto !important;
    }

    .customize-modal #co-close-btn{
        top: 3%;
    }

    .deiwhirhwejpekr{
        margin-bottom: 2rem;
    }    

    .doienkwjrewewr.p-5{
        padding: 1.2rem !important;
    }

    .doienkwjrewewr img.mb-3{
        margin-bottom: 0 !important;
    }

    .dewnrkhwerwe{
        display: flex;
        margin-top: 1rem;
    }

    .zoom-gallery-modal .modal-dialog {
        max-width: 90%;
        margin-inline: auto;
    }

    .zoom-gallery-modal .large-image-tab .tab-content > .active{
        min-height: 108vw;
        max-height: 108vw;
    }

    .small-image-tabs .nav-item {
        min-height: 175px;
        max-height: 175px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 150px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 80vh;
    }

    .doijijewjuewr {
        max-height: 80vh;
    }

    .small-image-up-arrow {
        top: -3%;
    }

    .deiwhirhwejpekr.sticky-top > div.row{
        justify-content: space-between;
    }

    .large-image-tab .tab-content > .active img{
        max-height: initial;
        border-radius: 10px;
    }

    .zoom-gallery-modal .tab-content.ps-2,
    .zoom-gallery-modal .modal-body.ps-3{
        padding-left: 0 !important;
    }

    .zoom-gallery-modal .sdgdffwesfdf .small-image-tabs{
        justify-content: center;
    }

    .zoom-gallery-modal .sdgdffwesfdf .small-image-tabs.pe-0{
        padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    }


    /* start arian  css 20-11-25 */
    /* start arian  css 20-11-25 */

    .diwenjrbwebrwehgrwer hr{
        width: 100% !important;
    }
    .opjdjwerwer p.chngd-price 
    {
         text-align: right;
    }
    .dowejkrnwerwer p 
    {
        padding-bottom: 10px;
    }

    .kjidbwejgrwerwer{
        width: 100%;
    }

    /* end arian  css 20-11-25 */
    /* end arian  css 20-11-25 */

    .dowehkrhweor h4{
        text-align: center;
    }

    .doiwejrjwejr{
        display: none;
    }

    .derwerwrrr.d-none{
        display: block !important;
    }

    .dowehkrhweor h4{
        font-size: 7vw;
    }
    
    .daojdosjrjwejrwer{
        width: 100%;
    }

    .deiwhirhwejpekr.sticky-top{
        width: 90%;
        margin-inline: auto;
    }

    .breadcrumb{
        margin-left: 0 !important;
    }

    .dfgndfjhgdf.sdfgsefgderrqewertwr,
    .select-form-side{
        padding-inline: 0;
    }

    .dfgndfjhgdf .btn{
        width: auto;
    }
    
    .dfhdfhd.pe-5{
        padding-right: 0 !important;
    }

    .opjdjwerwer.col-lg-9,
    .opjdjwerwer.col-9{
        width: 57%;
    }

    .zoom-gallery-modal .small-image-tabs .nav-item {
        min-height: 135px;
        max-height: 135px;
        width: 75%;
        margin: 1rem 1.6rem;
    }

    .zoom-gallery-modal .nav.flex-column {
        max-height: 62vh;
    }

    .dfghjdfgdfgf {
        margin-left: 0;
    }
}





@media only screen and (max-width: 800px){
    .small-image-tabs .nav-item {
        min-height: 150px;
        max-height: 150px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 125px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 69vh;
    }

    .doijijewjuewr {
        max-height: 69vh;
    }
}





@media only screen and (max-width: 767px){
    .deiwhirhwejpekr > div.row{
        justify-content: space-around;
    }

    .dopwejoirjhwer {
        width: auto;
    }
}





@media only screen and (max-width: 680px){
    .dowejkrnwerwer{
        justify-content: space-between;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 61vh;
    }

    .small-image-tabs .nav-item {
        min-height: 132px;
        max-height: 132px;
    }

    .small-image-tabs .nav-item img, .small-image-tabs .nav-item video {
        max-height: 110px;
    }

    .doijijewjuewr {
        max-height: 61vh;
    }
}





@media only screen and (max-width: 600px){
    .fvjhfbdf {
        padding-top: 5px;
    }

    .copn-cde h5 {
        font-size: 3vw;
    }

    .oijdmkmeiwrew{
        justify-content: space-between;
    }
    
    .copn-cde.me-2{
        margin-right: 0 !important;
    }

    .odnwejihrwerwer.mt-5{
        margin-top: 0 !important;
    }

    .deiwhirhwejpekr.sticky-top{
        margin-top: 2rem;
    }

    .small-image-tabs .nav-item {
        min-height: 115px;
        max-height: 115px;
    }

    .small-image-tabs .nav-item img, .small-image-tabs .nav-item video {
        max-height: 100px;
    }

    .doijijewjuewr {
        max-height: 53vh;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 53vh;
    }

    /* .small-image-tabs .nav-item {
        min-height: 105px;
        max-height: 105px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 105px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 36vh;
    }

    .doijijewjuewr {
        max-height: 34vh;
    } */

    .oijdmkmeiwrew .copn-cde:last-child.me-5{
        margin-right: 0 !important;
    }
}




@media screen and (max-width: 767px) and (min-width: 575px){
    .dowejkrnwerwer{
        flex-wrap: wrap;
    }

    .dowejkrnwerwer h4.mb-0{
        margin-bottom: 1rem !important;
    }
}






@media only screen and (max-width: 551px){
    .large-image-tab .tab-content > .active{
        line-height: 0;
    }    
}





@media only screen and (max-width: 540px){
    .small-image-tabs .nav-item {
        min-height: 102px;
        max-height: 102px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 80px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 47vh;
        padding-left: 0;
    }

    .doijijewjuewr {
        max-height: 47vh;
    }

    .deiwhirhwejpekr.sticky-top {
        margin-top: 2rem;
    }

    .small-image-up-arrow {
        top: -4%;
    }
}






@media only screen and (max-width: 495px){
    .dowejkrnwerwer{
        justify-content: space-between;
    }
}






@media only screen and (max-width: 478px){
    .skdncfjsdbcfksdnf .btn-main{
        padding-inline: 0 !important;
    }

    .dfgndfjhgdf .me-3{
        margin-right: 0.2rem !important;
    }
}





@media only screen and (max-width: 452px){
    .dowejkrnwerwer.d-flex{
        display: block !important;
    }

    .doenwkjriwerwer{
        transform: initial;
    }

    .dfgndfjhgdf .btn {
        width: calc(100% - 53%);
    }
}





@media only screen and (max-width: 440px){
    .small-image-tabs .nav-item {
        min-height: 81px;
        max-height: 81px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 65px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 37vh;
    }

    .doijijewjuewr {
        max-height: 37vh;
    }

    .small-image-up-arrow {
        top: -7%;
    }
}






@media only screen and (max-width: 420px){
    .skdncfjsdbcfksdnf .btn-main img {
        width: 1.2rem;
    }
}





@media only screen and (max-width: 416px){
    .dkewnjkhriwer .d-flex{
        flex-wrap: wrap;        
    }

    .dkewnjkhriwer .d-flex.justify-content-between{
        justify-content: center !important;
    }

    .dkewnjkhriwer h5{
        border-bottom: 1px solid #d7d7d7;        
    }
}






@media only screen and (max-width: 412px){
    .dowejkrnwerwer.d-flex{
        display: block !important;
    }
}







@media only screen and (max-width: 392px){
    .skdncfjsdbcfksdnf .btn-main,
    .slkdnfkmslkmr p.chrt-sze,
    .opjdjwerwer p.chngd-price{
        font-size: 0.8rem;
    }

    /* .small-image-tabs .nav-item {
        min-height: 65px;
        max-height: 65px;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 23vh;
    }

    .doijijewjuewr {
        max-height: 21vh;
    } */
}





@media only screen and (max-width: 375px){
    .small-image-tabs .nav-item {
        min-height: 70px;
        max-height: 70px;
    }

    .small-image-tabs .nav-item img,
    .small-image-tabs .nav-item video {
        max-height: 55px;
    }

    .doijijewjuewr {
        max-height: 32vh;
    }

    .deiwhirhwejpekr.sticky-top .small-image-tabs {
        height: 32vh;
    }
}





@media only screen and (max-width: 366px){
    .saoijhdekjwirwer .dowekrwerwer label.p-3{
        padding: 0.3rem !important;
    }
}





@media only screen and (max-width: 349px){
    .dfgndfjhgdf .btn-main{
        width: 100%;
    }

    .dfgndfjhgdf .btn-main.me-3{
        margin-right: 0 !important;
        margin-bottom: 1rem !important;
    }
}





@media only screen and (max-width: 341px){
    .skdncfjsdbcfksdnf .btn-main,
    .slkdnfkmslkmr p.chrt-sze,
    .opjdjwerwer p.chngd-price{
        font-size: 0.6rem;
    }

    .dgndfjgdf .form-select,
    .kcwenjkkwenkrhwer .form-select{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 0.9rem;
    }
}





@media only screen and (max-width: 375px){
    .dfgndfjhgdf .btn {
        width: calc(100% - 54%);
    }
}





@media only screen and (max-width: 350px){
    .oijdmkmeiwrew.d-flex{
        flex-direction: column;
        justify-content: center;
    }

    .oijdmkmeiwrew .copn-cde{
        width: 100%;
    }

    .oijdmkmeiwrew .copn-cde.me-5{
        margin-right: 0 !important;
    }
}





@media only screen and (max-width: 333px){
    .deiwhirhwejpekr.sticky-top .large-image-tab.col-9{
        width: 83.33333333%;
    }
}




@media only screen and (max-width: 290px){
    .skdncfjsdbcfksdnf .btn-main img {
        width: 0.8rem;
    }
}