/*start wadding page  css   */
/*start wadding page  css   */
/*start wadding page  css   */
.sdgdfhbgdfr {
  width: 100%;
  padding-top: 3rem;
}

.dfgdfg255 {
  width: 100%;
  height: 23vw;
  border-radius: 25px;
  cursor: pointer;
}

.dfgdfg255 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-black {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgb(61, 61, 61) 100%);
  text-align: center;
}

.dfbghf{
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.jdfkdf{
  width: 100%;
  height: 359px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 17px;
}

.jdfkdf img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-black1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgb(61, 61, 61) 100%);
  text-align: center;
}

.dfbghf1{
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay-black2 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgb(61, 61, 61) 100%);
  text-align: center;
}

.dfbhhfgdf55{
  width: 100%;
  height: 23vw;
  border-radius: 25px;
  cursor: pointer;
}

.dfbhhfgdf55 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dfbghf3{
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay-black3 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgb(61, 61, 61) 100%);
  text-align: center;
}

.dfbghf h4 {
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}

.dfbghf button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
}

.dfbghf1 h4 {
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}

.dfbghf1 button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
}

.dfbghf2 {
  text-align: center;
}

.dfbghf2 button{
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
}

.dfbghf2 h4 {
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}

.dfbghf2 button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
}

.dfbghf3 h4 {
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}

.dfbghf3 button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
}

.fvgndfjhgdfg {
  width: 100%;
  height: 470px;
  background-size: 100% 100%;
}

.fvgndfjhgdfg img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.dfgbdfjhgdf {
  margin-bottom: 2rem;
}

.dfgbdfjhgdf h2 {
  color: #000;
  font-size: 30px;
}

.sdfjksdgsdfgsdf {
  width: 100%;
  padding-top: 3rem;
}

.dfghjhufggdfg {
  width: 100%;
  padding-bottom: 3rem;
}

.dfbhhfgdf {
  width: 100%;
  height: 490px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin-bottom: 17px;
  cursor: pointer;
}

.dfbhhfgdf img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-black2{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dfbhhfgdf55 {
  width: 100%;
  height: 371px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.fgnhdfjhugdfgsd {
  width: 100%;
}

.dfbhhfgdf55 {
  width: 100%;
  margin-bottom: 17px;
}

.fgndfjhgfgds {
  width: 100%;
}

.dfgdfgfd {
  width: 100%;
  height: 120px;
  border-radius: 25px;
}

.dfgdfgfd img {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.sdjhds {
  text-align: center;
  color: white;
  font-weight: 700;
}

.sdjhds h4 {
  margin-bottom: 0;
  padding-top: 25px;
}

.fgjhfbgdfjh565 {
  width: 100%;
  padding: 3rem 0;
}

.ffdgf548 {
  width: 100%;
  height: 259px;
}

.ffdgf548 img {
  width: 100%;
  height: 100%;
}

.fghbjkfgfg145 {
  text-align: center;
}

.fghbjkfgfg145 h2 {
  padding-top: 110px;
  font-size: 40px;
}

.dbgjkdffd52 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.dfgjhdfgdf{
  margin-top: 1rem;
}

.dfgjhdfgdf .swiper-slide{
  border-radius: 27px;
  overflow: hidden;
}

/*end wadding page  css   */
/*end wadding page  css   *//*# sourceMappingURL=Wedding.css.map */