 
/* start faq page css */
/* start faq page css */
/* start faq page css */


.aboutusbannr55 img
{
  width: 100%;
  height: 553px;
}

.fjgnfg55d .question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
}

.fjgnfg55d .question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.fjgnfg55d .question.active::after {
  transform: rotate(45deg);
}

.fjgnfg55d .answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.fjgnfg55d .answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

.fjgnfg55d
{
  padding: 40px 0;
}

.fjgnfg55d .answercont {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.fjgnfg55d .answercont.active {
  max-height: 500px; /* adjust depending on content length */
}
/* end faq page css */
/* end faq page css */
/* end faq page css */






@media only screen and (min-width: 2551px){
  .aboutusbannr55 img{
    height: auto;
  }
}




@media only screen and (max-width: 2550px){
  .aboutusbannr55 img{
    height: auto;
  }
}



@media only screen and (max-width: 1366px){
  .aboutusbannr55 img{
    height: 553px;
  }
}



@media only screen and (max-width: 991px){
  .aboutusbannr55 img{
    height: auto;
  }
}



@media screen and (max-width: 790px){
  html {
    font-size: 14px;
  }
  .fjgnfg55d .wrapper {
  width: 100%;
}
}
