@media only screen and (min-width: 3001px){
    header .header-top .doeiwhrkwdeor {
        width: 20rem;
        margin-right: 8rem;
    }

    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.7rem;
        font-size: 1.5rem;
    }

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 400px;
    }

    .safsrfwee img{
        height: 190px;
    }
}





@media only screen and (max-width: 3000px){
    header .header-top .doeiwhrkwdeor {
        width: 20rem;
        margin-right: 8rem;
    }

    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.7rem;
        font-size: 1.5rem;
    }

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 400px;
    }

    .safsrfwee img{
        height: 190px;
    }
}





@media only screen and (max-width: 2550px){
    header .header-top .doeiwhrkwdeor {
        width: 19rem;
        margin-right: 7rem;
    }

    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.5rem;
        font-size: 1.3rem;
    }

    .mjeimojwjikrrr {
        width: 5rem;
    }

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 400px;
    }

    .safsrfwee img{
        height: 190px;
    }
}






@media only screen and (max-width: 2120px){
    header .header-top .doeiwhrkwdeor {
        width: 18rem;
    }
}






@media only screen and (max-width: 1942px){
    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.3rem;
        font-size: 1.2rem;
    }
}






@media only screen and (max-width: 1920px){
    header .header-top .doeiwhrkwdeor {
        width: 14rem;
    }

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 379px;
    }

    .safsrfwee img{
        height: 178px;
    }
}





@media only screen and (max-width: 1869px){
    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.3rem;
        font-size: 1.2rem;
    }

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 331px;
    }

    .safsrfwee img{
        height: 154px;
    }
}






@media only screen and (max-width: 1800px){
    header .header-top .doewhruiwerwer_right ul li {
        font-size: 1.2em;
    }
}





@media only screen and (max-width: 1629px){
    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.3rem;
        font-size: 1rem;
    }
}






@media only screen and (max-width: 1600px){
    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.2rem;
        font-size: 1rem;
    }

    .mjeimojwjikrrr {
        width: 4rem;
    }

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 288px;
    }

    .safsrfwee img{
        height: 133px;
    }
}






@media only screen and (max-width: 1390px){
    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.2rem;
        font-size: 0.9rem;
    }
}






@media only screen and (max-width: 1366px){
    header .header-top .doeiwhrkwdeor {
        width: 11.32rem;
        margin-right: 5rem;
    }

    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.15rem;
        font-size: 1rem;
    }

    .mjeimojwjikrrr {
        width: 3.9rem;
    }   

    .pkopkerrwer.sfsdfweweweqwq img {
        height: 252px;
    }

    .safsrfwee img{
        height: 114px;
    }
}





@media only screen and (max-width: 1270px){
    header .header-top .doewhruiwerwer_right ul li {
        margin-inline: 0.1rem;
        font-size: 0.9rem;
    }
}





@media only screen and (max-width: 991px){    
    .header-main-wrapper{
        max-width: 100%;
        overflow-x: auto;
    }

    .header-main-wrapper::-webkit-scrollbar{
        height: 0;
    }

    .header-main.pt-4{
        padding-top: 0 !important;
    }

    .search-field-hide,
    .sfeadeeerrrrr{
        display: none;
    }

    .dfggweftewewrerr.d-none{
        display: block !important;
    }

    .soifjoejopeor.d-flex{
        display: block !important;
    }

    .doewhruiwerwer_right img.d-none{
        display: block !important;
        width: 10rem;
        margin-bottom: 2rem;
    }

    .res-menu-backdrop{
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        transition: 0.3s ease-in-out;
    }

    .infrm-menu-divider{
        display: none !important;
    }

    header .header-main .doiewhirw_left img{
        width: 10rem;
    }

    header .header-main .doiewhirw_right{
        float: initial;
    }

    .doeiwhrkwdeor{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }  
    
    header .header-top .doeiwhrkwdeor{
        width: auto;
        margin-right: 0;
    }

    header .header-top .doeiwhrkwdeor .currency-toggle-btn img{
        width: 5vw;
        height: auto;
    }

    .doeiwhrkwdeor .dwerkwenrwer.d-none{
        display: flex !important;
        align-items: center;
        font-size: 1.4rem;
    }

    header .header-top .doeiwhrkwdeor ul li:before{
        display: none;
    }

    .aosndkjnjhasekwewt .form-select{
        display: none;
    }

    .doeiwhrkwdeor .dwerkwenrwer.d-none .form-select{
        padding: 0.2rem 2rem 0.2rem 0.2rem;
        width: 12rem;
    }

    .doeiwhrkwdeor #res-toggle-btn{
        font-size: 2.5rem;
    }

    .sfwedweweeqweqwe{
        display: none;
    }

    #res-toggle-btn.d-none,
    .dwejoijrwer.d-none,
    .dowejojiweujrwer.d-none{
        display: block !important;
    }

    .h-m-m-inner .ojkmiweee_left > .row .col-lg-4{
        border-right: 0;
    }

    .dowejojiweujrwer ul li{
        list-style: none;
        position: relative;
        padding: 1.1rem 0.6rem !important;
    }

    .dowejojiweujrwer ul li i{
        font-size: 1.6rem !important;
    }

    .res-ctgy-menu-modal{
        width: 70%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999999;
        transition: 0.2s ease-in-out;
    }

    .res-ctgy-menu-modal-hide{
        left: -50rem;
        bottom: 0;
        transition: 0.2s ease-in-out;
    }

    .res-ctgy-menu-backdrop{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 999999;
        opacity: 1;
        visibility: visible;
    }

    .res-ctgy-menu-backdrop-hide{
        z-index: -999999;
        opacity: 0;
        visibility: hidden;
    }

    .res-ctgy-menu-modal ul li{
        list-style: none;
    }

    .res-ctgy-menu-modal ul li a{
        color: var(--pink-main-color);
        font-weight: 500;
        text-decoration: underline;
    }

    .dojiewjoejojowerwer .header-mega-menu{
        visibility: initial;
    }

    .dojiewjoejojowerwer .oieniuiewr_inner a{
        text-decoration: none !important;
    }

    .cojeojewrer{
        overflow-y: auto;
    }

    .cojeojewrer::-webkit-scrollbar{
        width: 0;
    }
    
    .dojiewjoejojowerwer .h-m-m-inner{
        border-top: 0;
    }

    .dojiewjoejojowerwer .h-m-m-inner.mt-3{
        margin-top: 0 !important;
    }

    .dojiewjoejojowerwer .h-m-m-inner.py-2{
        padding-top: 0 !important;
    }

    .dojiewjoejojowerwer .pkopkerrwer{
        margin-bottom: 1.5rem;
    }

    .mnctgy i{
        font-size: 1.4rem;
    }

    .res-ctgy-menu-modal.d-none{
        display: block !important;
    }

    .gdfgdf215{
        height: auto !important;
    }

    .sfwedgwerwefrwerwer{
        display: none;
    }

    .mnctgy{
        border-top: 1px solid var(--light-background-color);
        border-bottom: 1px solid var(--light-background-color);
    }

    .wlojdfiwejrower .currency-menu{
        right: 0;
    }

    .dowejojiweujrwer li a span{
        position: absolute;
        left: -50%;
        top: 0;
        background: var(--black-background-color);
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        color: #fff;
        text-align: center;
    }

    .gvredeewerrr{
        margin-bottom: 0.5rem;
    }

    #header-menu-responsive{
        position: fixed;
        left: -50rem;
        top: 0;
        width: 95%;
        background: #fff;
        bottom: 0;
        padding: 1.4rem;
        transition: 0.2s ease-in-out;
    }

    .header-menu-responsive-show{
        left: 0 !important;
        transition: 0.2s ease-in-out;
    }

    #header-menu-responsive .fdgyhurfsdrerer.d-none{
        display: flex !important;
        margin-bottom: 1.4rem;
    }

    #res-close-btn{
        font-size: 3rem;
    }

    header .header-main .doiewhirw_right ul.header-menu li{
        display: block;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .doiewhirw_left{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .header-main .doiewhirw_right ul.header-menu li a{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    header .header-main .doiewhirw_right .diewhrkewr_dropdown{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 100%;
        overflow-y: auto;
    }    

    .kjsdnfkniretertert ul li{
        display: inline-block;
        position: relative;
        margin-left: 1rem;
    }

    .kjsdnfkniretertert ul li:first-child{
        margin-left: 0;
    }

    .kjsdnfkniretertert ul li i{
        font-size: 2rem;
    }

    header .header-top .doeiwhrkwdeor ul li a {
        padding: 0.8rem;
    }
    
    .kjsdnfkniretertert ul li span{
        background: var(--black-background-color);
        border-radius: 50%;
        text-align: center;
        line-height: 1.5;
        color: #fff;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        right: -0.38rem;
        top: 0.5rem;
    }

    .dfkhgdfgdf h2{
        font-size: 1.2rem !important;
    }

    .ghbgfgdf .col-3{
        width: 80%;
    }

    .fbgvdsdfd6568 {
        padding-bottom: 0 !important;
    }

    .fbgvdsdfd6568::-webkit-scrollbar{
        display: none;
    }

    .fbsdsdf{
        text-align: center;
    }

    .dfgh img{
        padding-left: 0;
    }
    
    .fhdfgdf,
    .nhgf65dfgdf,
    .dfdfdffd,
    .dfgyhdfgdf{
        height: auto !important;
    }

    .xfdjgdfgdfg,
    .sdfsdfsdfsd {
        background-size: cover !important;
        background-position: center !important;
    }

    .dfgyhdfgdf {
        background-repeat: no-repeat;
        background-size: cover !important;
    }

    .gfjhfgjfg {
        font-size: 2rem;
    }

    .footer-bottom.d-flex{
        flex-direction: column;
        align-items: center;
    }

    .jamdlkjwekrer{
        text-align: center;
    }

    .doeiwhrkwdeor img{
        width: 10rem;
    }

    .doeiwhrkwdeor .osjoidhwjiwer .currency-item img{
        width: auto;
    }

    .osjoidhwjiwer.dwelorjwemr-res{
        right: 0;
        z-index: 9;
    }

    header .header-main{
        max-width: 100%;
    }

    .duiewhewijrrqq{
        text-align: center;
    }

    .wlojdfiwejrower.d-none{
        display: block !important;
    }

    .res-ctgy-menu-backdrop.d-none{
        display: block !important;
    }
}




@media only screen and (max-width: 600px){
    .fgjdfgf3298{
        grid-template-columns: auto auto !important;
    }

    .dfgh{
        margin: auto;
    }

    .doeiwhrkwdeor img {
        width: 8rem;
    }
}




@media only screen and (max-width: 432px) {
    .dowejojiweujrwer ul li i {
        font-size: 1.1rem !important;
    }
}






@media only screen and (max-width: 375px) {
    .dwejoijrwer{
        width: 90%;
    }

    .search-field .form-control::placeholder{
        font-size: 0.8rem !important;
    }
}






@media only screen and (max-width: 316px) {
    .dwejoijrwer{
        width: 80%;
    }

    .dowejojiweujrwer ul li {
        padding: 1.1rem 0.4rem !important;
    }
}


@media only screen and (max-width: 300px) {
    .doeiwhrkwdeor #res-toggle-btn {
        font-size: 1.5rem;
    }
}