.filter-wrapper .breadcrumb ul li {
  display: inline-block;
  font-size: 0.9rem;
}
.filter-wrapper .breadcrumb ul li a {
  color: var(--text-gray-color);
}
.filter-wrapper .alosjdjkhrjfse h4 {
  font-size: 1.4rem;
  font-weight: 400;
}
.filter-wrapper .alosjdjkhrjfse h4 span {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 1rem;
}
.filter-wrapper .breadcrumb ul li:last-child a{
  color: var(--light-black-text-color);
}
.oidenjwihrwer h6{
  font-weight: 500;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
}
.oidenjwihrwer h6:hover{
  color: var(--black-background-color);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.filter-wrapper .dkewjriwehrnjhweijrwer .disenihrenjr {
  border-bottom: 1px solid var(--text-gray-color);
}
.filter-wrapper .dkewjriwehrnjhweijrwer .disenihrenjr h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.filter-wrapper .filtered-products .advtsmnt-bnnr {
  border-radius: 0.8rem;
}
.filter-wrapper .filtered-products .iduhweihriweurwerwer h5.view-list {
  text-transform: uppercase;
}

.products-wrapper.filtr-wrppr{
  border-top: 1px solid var(--black-background-color);
}

.iduhweihriweurwerwer .btn-main{
  background: var(--pink-main-color) !important;
  color: #fff !important;
  border: 1px solid var(--pink-main-color) !important;
  font-weight: 400;
  transition: 0.1s ease-in-out;
}

.iduhweihriweurwerwer .btn-main:hover{
  font-weight: 400;
  border-radius: 5px;
  color: #fff !important;
}

.iduhweihriweurwerwer .btn-main:hover i{
  color: #fff;
}

.doiewjkrniuwewer.col-lg-3{
  height: 220px;
}

.doiewjkrniuwewer.col-lg-3 .doikwenirnwekhrwer,
.doiewjkrniuwewer.col-lg-3 .dbgdfhgv{
  display: none !important;
}

.fdbdfgdfgdf.col-lg-9 .dbgdfhgv{
  z-index: initial;
  position: initial;
  bottom: initial;
  left: initial;
  width: initial;
  opacity: initial;
  visibility: initial;
  transition: 0.2s ease-in-out;
  transform: initial;
  margin-top: initial;
}

.fdbdfgdfgdf.col-lg-9 .doikwenirnwekhrwer{
  z-index: initial;
  align-items: initial;
  visibility: initial;
  opacity: initial;
  transition: 0.2s ease-in-out;
}

.fdbdfgdfgdf.col-lg-9{
  text-align: left;
}

/* .iduhweihriweurwerwer .btn-main:hover{
  background: var(--black-background-color) !important;
  color: #fff !important;
} */

.iduhweihriweurwerwer .btn-main i{
  font-size: 1.1rem;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.asdefwerrerer label.clr-label{
  border: 1px solid #fff !important;
}

.asondiaidniehrer{
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #d5d5d5;
}

.doewjkrnhweiurwer .radio-wrapper-5 {
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.doewjkrnhweiurwer .radio-wrapper-5 label.forCircle {
  align-items: center;
  border: 0 solid #eee;
  border-radius: 9999px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding: 0.2rem 0.75rem;
  position: relative;
  scrollbar-width: thin !important;
}
.doewjkrnhweiurwer .radio-wrapper-5 input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #b0bec5;
  border-radius: 9999px;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  cursor: pointer;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  height: 1.25rem;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  scrollbar-width: thin !important;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  width: 1.25rem;
}
.doewjkrnhweiurwer .radio-wrapper-5 input[type=radio]:before {
  background-color: rgb(96, 125, 139);
  border: 0 solid #eee;
  border-radius: 9999px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 3rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  width: 3rem;
}
.doewjkrnhweiurwer .radio-wrapper-5 input[type=radio]:placeholder {
  color: #bdbdbd;
  opacity: 1;
}
.doewjkrnhweiurwer .radio-wrapper-5 input[type=radio]:checked:before {
  background-color: rgb(33, 33, 33);
}
.doewjkrnhweiurwer .radio-wrapper-5 input[type=radio]:hover:not(:disabled):before {
  opacity: 0.1;
}
.doewjkrnhweiurwer .radio-wrapper-5 label.forCircle span {
  border: 0 solid #eee;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  scrollbar-width: thin !important;
  top: 50%;
  transform: matrix(1, 0, 0, 1, -7, -7);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-catgry-filter.indiewjrwerewr .doewjroijwerwer.mb-3,
.inside-sub-catgry-filter .radio-wrapper-5.mb-3{
  margin-top: 1rem !important;
}
.doewjkrnhweiurwer .radio-wrapper-5 input[type=radio]:checked ~ span {
  opacity: 1;
}
.doewjkrnhweiurwer .radio-wrapper-5 svg {
  display: block;
  height: 0.875rem;
  vertical-align: middle;
  width: 0.875rem;
}
.doewjkrnhweiurwer .radio-wrapper-5 label {
  color: var(--text-main-color);
  cursor: pointer;
  margin-top: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.osdmcfosjrserr label {
  margin: 10px;
  display: block;
  vertical-align: middle;
  line-height: 25px;
  cursor: pointer;
}
.osdmcfosjrserr input[type=radio] {
  vertical-align: bottom;
  -webkit-appearance: none;
  width: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
  border: 1px solid darkgray;
  border-radius: 50%;
  outline: none;
  margin: 0.1rem 0.75rem 0.1rem 0;
}
.osdmcfosjrserr input[type=radio]:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.deowjnkrwere.bdfgsdfseewewrr{
  max-height: 14rem;
  overflow-y: auto;
}
.doewjkrnhweiurwer.bdfgsdfseewewrr{
  max-height: 25.6rem;
  overflow-y: auto;
}
.dijwehirwer{
  width: 1.4rem;
  height: 1.4rem;
}
.cdwehjirnweijrowejrowejr{
  cursor: pointer;
}
.view-options div i {
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  padding: 0.4rem 0.4rem;
  border: 1px solid #fff;  
}

.view-options .grid-view,
.view-options .list-view {
  border-radius: 0.375rem;
  border: 1px solid #fff;
}

.view-options .grid-view.active,
.view-options .list-view.active {
  border: 1px solid var(--text-gray-color);
}

.filtr-wrppr .fdbdfgdfgdf.col-lg-12 .dlksfskjrewrwere{
  display: none !important;
}

.oidenjwihrwer h5 i{
  color: var(--pink-main-color);
}

.doewnkrhwer input:checked + label.btn-main{
  box-shadow: rgba(132, 13, 86, 0.19) 0px 10px 20px, rgba(132, 13, 86, 0.23) 0px 6px 6px;
  border: 1px solid #d372ad !important;
  background: var(--black-hover-background-color) !important;
}

.doewnkrhwer input:checked + label i{
  color: #fff !important;
}

.podwejorjwierwer .form-select{
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.form-select:focus{
  border-color: var(--pink-main-color) !important;
}

.doewnkrhwersdvzdfb input:checked + label{
  background: var(--black-background-color) !important;
  color: #fff !important;
}



.oijdmeiojewrer i{
  cursor: pointer;
  color: var(--text-gray-color);
}


/*price range*/

 .dohwekrjiwejr .wrapper {
	 width: 100%;
	 background: #fff;
}
 .dohwekrjiwejr .price-input {
	 width: 100%;
	 display: flex;
	 margin: 10px 0 1.4rem;
}
 .dohwekrjiwejr .price-input .field {
	 display: flex;
	 width: 42%;
	 align-items: center;
}
.dohwekrjiwejr .price-input .field span{
  margin-top: 1.5rem;
}
 .dohwekrjiwejr .field input {
	 width: 100%;
	 height: 100%;
   padding: 5px 0;
	 outline: none;
	 font-size: 1rem;
	 border-radius: 5px;
	 text-align: center;
	 border: 1px solid #999;
	 -moz-appearance: textfield;
}
.diwenjriwejrjhwer span{
  font-weight: 600;
}
.btn-filter-tag.btn-main{
  border-color: #fff !important;
  font-weight: 500; 
  border-radius: 5px !important;
}
.btn-filter-tag.btn-main:hover{
  background: #fff0fe !important;
  border-color: var(--pink-main-color) !important;
  font-weight: 500;
}
.btn-filter-tag.btn-main i{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--pink-main-color);
  line-height: 1.1;
  color: var(--pink-main-color);
}
 .dohwekrjiwejr input[type="number"]::-webkit-outer-spin-button, .dohwekrjiwejr input[type="number"]::-webkit-inner-spin-button {
	 -webkit-appearance: none;
}
 .dohwekrjiwejr .price-input .separator {
	 width: 50px;
	 display: flex;
	 font-size: 19px;
	 align-items: center;
	 justify-content: center;
}
.dioeuhiewrwer{
  margin-left: 8px;
}
 .dohwekrjiwejr .slider {
	 height: 5px;
	 position: relative;
	 background: #ddd;
	 border-radius: 5px;
}
 .dohwekrjiwejr .slider .progress {
	 height: 100%;
	 left: 25%;
	 right: 25%;
	 position: absolute;
	 border-radius: 5px;
	 background: var(--pink-main-color);
}
 .dohwekrjiwejr .range-input {
	 position: relative;
}
 .dohwekrjiwejr .range-input input {
	 position: absolute;
	 width: 100%;
	 height: 5px;
	 top: -5px;
	 background: none;
	 pointer-events: none;
	 -webkit-appearance: none;
	 -moz-appearance: none;
}
 .dohwekrjiwejr input[type="range"]::-webkit-slider-thumb {
	 height: 17px;
	 width: 17px;
	 border-radius: 50%;
	 background: #fff;
	 pointer-events: auto;
	 -webkit-appearance: none;
   border: 1px solid var(--pink-main-color);
   cursor: pointer;
}
 .dohwekrjiwejr input[type="range"]::-moz-range-thumb {
	 height: 17px;
	 width: 17px;
	 border: none;
	 border-radius: 50%;
	 background: #17a2b8;
	 pointer-events: auto;
	 -moz-appearance: none;
	 box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
 .dohwekrjiwejr .support-box {
	 top: 2rem;
	 position: relative;
	 bottom: 0;
	 text-align: center;
	 display: block;
}
 .dohwekrjiwejr .b-btn {
	 color: white;
	 text-decoration: none;
	 font-weight: bold;
}
 .dohwekrjiwejr .b-btn.paypal i {
	 color: blue;
}
 .dohwekrjiwejr .b-btn:hover {
	 text-decoration: none;
	 font-weight: bold;
}
 .dohwekrjiwejr .b-btn i {
	 font-size: 20px;
	 color: yellow;
	 margin-top: 2rem;
}


/*checkbox start*/

:root {
	 --s-xsmall: 0.625em;
	 --s-small: 1.2em;
	 --border-width: 1px;
	 --c-primary-20-percent-opacity: #000;
	 --c-primary-10-percent-opacity: #000;
	 --t-base: 0.4s;
	 --t-fast: 0.2s;
	 --e-in: ease-in;
	 --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .visuallyhidden {
	 border: 0;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 margin: -1px;
	 overflow: hidden;
	 padding: 0;
	 position: absolute;
	 width: 1px;
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox {
	 display: inline-flex;
	 align-items: center;
	 justify-content: flex-start;
   cursor: pointer;
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox + .checkbox {
	 margin-top: var(--s-small);
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__symbol {
	 display: inline-block;
	 display: flex;
	 margin-right: calc(var(--s-small) * 0.4);
	 border: var(--border-width) solid var(--text-gray-color);
	 position: relative;
	 border-radius: 5px;
	 width: 17px;
	 height: 17px;
	 transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
	 box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol{
  border: var(--border-width) solid var(--pink-main-color);
}

 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__symbol:after {
	 content: "";
	 position: absolute;
	 top: 0.3em;
	 left: 0.3em;
	 width: 0.25em;
	 height: 0.25em;
	 background-color: var(--pink-main-color);
	 opacity: 0;
	 border-radius: 3em;
	 transform: scale(1);
	 transform-origin: 50% 50%;
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox .icon-checkbox {
	 width: 1em;
	 height: 1em;
	 margin: auto;
	 fill: none;
	 stroke-width: 3;
	 stroke: #fff;
	 stroke-linecap: round;
	 stroke-linejoin: round;
	 stroke-miterlimit: 10;
	 color: var(--pink-main-color);
	 display: inline-block;
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox .icon-checkbox path {
	 transition: stroke-dashoffset var(--t-fast) var(--e-in);
	 stroke-dasharray: 30px, 31px;
	 stroke-dashoffset: 31px;
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__textwrapper {
	 margin: 0;
}
.cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__textwrapper:hover{
  color: var(--pink-main-color);
  transition: 0.1s ease-in-out;
}
.cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol{
  background: var(--pink-main-color);
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
	 -webkit-animation: ripple-33 1.5s var(--e-out);
	 animation: ripple-33 1.5s var(--e-out);
}
 .cdwehjirnweijrowejrowejr .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
	 transition: stroke-dashoffset var(--t-base) var(--e-out);
	 stroke-dashoffset: 0px;
}

 @-webkit-keyframes ripple-33 {
	 from {
		 transform: scale(0);
		 opacity: 1;
	}
	 to {
		 opacity: 0;
		 transform: scale(12);
	}
}
 @keyframes ripple-33 {
	 from {
		 transform: scale(0);
		 opacity: 1;
	}
	 to {
		 opacity: 0;
		 transform: scale(12);
	}
}

/*checkbox end*/

.dokeawhiruwerwer_more{
  cursor: pointer;
  color: var(--pink-main-color);
  font-weight: 500;
}

.dfgsfsfsfsdf,
.pagination_ff{
  gap: 7px;
}

.pagination_ff button{
  width: 3rem;
  height: 100%;
  background: var(--pink-main-color);
  border-color: var(--pink-main-color) !important;
}

.pagination_ff button.active{
  /* background: var(--pink-main-color); */
  background: #bf71a1;
  border-color: var(--pink-main-color) !important;
  color: #fff;
  border-style: dotted;
}

.pagination_ff button:hover{
  background: var(--pink-main-color) !important;
  border-color: var(--pink-main-color) !important;
  border-radius: 5px !important;
  color: #fff;
}

.dfgsfsfsfsdf button.btn-main:hover{
  border-radius: 5px;
}

.dweihrihwerwerwer p{
  cursor: pointer;
  color: var(--pink-main-color);
  font-weight: 500;
  display: inline-block;
}