.res-navbar-bttm{
    z-index: 999999 !important;
    border-top: 1px solid var(--text-lighter-gray-color);
}

.dwsfwwer{
    flex-direction: column;
}

.dwsfwwer i{
    font-size: 2rem;
}

.res-navbar-bttm .dwsfwwer p{
    font-size: 1.2rem;
}

.res-navbar-bttm .dwsfwwer:nth-child(3) i{
    font-size: 2.5rem;
    line-height: 1.2;
}

.res-navbar-bttm .dwsfwwer:last-child i{
    color: #50C348;
}

.dwsfwwer.ahudjkhudfher i,
.dwsfwwer.ahudjkhudfher p{
    color: var(--pink-main-color);
}

.dwsfwwer.ahudjkhudfher p{
    font-weight: 600;
}




@media only screen and (max-width: 991px){
    .res-navbar-bttm.d-none{
        display: flex !important;
    }
}



@media only screen and (max-width: 375px){
    .dwsfwwer.px-4{
        padding-inline: 0.5rem !important;
    }
}